.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line { -fx-stroke: steelblue; }
.default-color1.chart-series-line { -fx-stroke: orange; }

.default-color0.chart-line-symbol { -fx-background-color: steelblue, white; }
.default-color1.chart-line-symbol { -fx-background-color: orange, white; }
